<%- include ('partials/header.ejs') %>


<div class="container">
	<div class="panel panel-default">

		<div class="panel-heading text-center" id="myColor">

			<h1>Write Your Article </h1>

			<h6>Please fill all the required fields</h6>

		</div>

		<form action="/posts" method="post">

			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="Title">Title</label>
						<input type="text" class="form-control text-left" name="title" id="Title" placeholder="Title"
							required>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description" id="description"
							placeholder="Give a short description" required>

					</div>
					<div class="form-group">
						<label for="body">Place your article here</label>
						<textarea class="form-control" name="body" id="body" placeholder="It all started when..."
							rows="3" required></textarea>
						<span id="helpBlock2" class="help-block">You have the option to add valid HTLM.</span>
					</div>
					<div class="form-group">
						<label for="image">Image</label>
						<input type="text" class="form-control" name="image" id="image" placeholder="Give the image url"
							required>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>

			</div>
		</form>
	</div>
</div>

<%- include ('partials/footer.ejs') %>